<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epsilon.welink.message.mapper.OutboxPendingMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO outbox_pending
            (outbox_id, outbox_shard, target_user_id, topic, msg_id, status, retry_count, next_retry_at, created_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.outboxId}, #{item.outboxShard}, #{item.targetUserId}, #{item.topic},
             #{item.msgId}, #{item.status}, #{item.retryCount}, #{item.nextRetryAt}, NOW())
        </foreach>
    </insert>
</mapper>
